:root {
  --blue: #00b3c4;
  --orange: #ff6459;
  --greenL: #02393f;
  --futuraBold: "Futura LT W01 Bold";
  --futuraMedium: "Futura LT W01 Medium";
  --helveticaMedium: "Helvetica Medium";
  --helveticaLight: "Helvetica Light";
}

@font-face {
  font-family: "Nimbus";
  src: url("fonts/NimbusSansBeckerPBla.woff2") format("woff2");
}

@font-face {
  font-family: "Futura LT W01 Bold";
  src: url("fonts/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff");
}

@font-face {
  font-family: "Futura LT W01 Medium";
  src: url("fonts/6c72b0cb-89a1-4da9-8574-9244967bd9d6.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Medium";
  src: url("fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Light";
  src: url("fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2");
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

/* ALERTS */

.alert {
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  font-family: var(--helveticaMedium);
  padding: 8px;
}

.alert-danger {
  background-color: var(--orange);
}

.alert-success {
  background-color: var(--orange);
  margin-bottom: 30px;
}

html {
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: #02393f;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* z-index: -1; */
  height: 100%;
  width: 100%;
  /* position: absolute; */
  background-size: 12px 12px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 0.3px,
      transparent 0.1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0.3px, transparent 0.1px);
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.main-centre {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* margin-top: 6rem; */
}

body::after {
  /* overflow: auto; */
  /* box-sizing: border-box; */
}

/* .back-test {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 100vw;
  background: rgba(20, 20, 20, 0.2);
  height: 100%;
} */

h1 {
  font-family: "Nimbus";
  font-size: 130px;
  color: white;
  letter-spacing: 5px;
}

h2 {
  font-family: "Futura LT W01 Bold";
  color: white;
  font-size: 25px;
}

h3 {
  font-family: "Futura LT W01 Medium";
  color: white;
  font-size: 25px;
}

h4 {
  font-family: "Helvetica Light";
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

.line-break {
  height: 1px;
  margin: 20px 0;
  background-color: var(--blue);
}

.line-break-red {
  height: 1px;
  margin-bottom: 15px;
  background-color: var(--orange);
}

/* NavBar  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  /* background-color: antiquewhite; */
  /* padding: 0.7rem 2rem; */
  /* position: fixed; */
  z-index: 1;
  height: 100px;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  font-family: var(--futuraBold);
  margin-right: 20px;
  list-style-type: none;
  align-items: center;
}

.navbar a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-image-div {
  position: relative;
  width: 50%;
}

.nav-profile-image {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-right: 15px;
}

.profile-image-nav-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-right: 15px;
  background-color: var(--orange);
  opacity: 0;
  transition: 0.5s ease;
}

.profile-image-nav-overlay:hover {
  opacity: 0.7;
}

.nav-profile-image:hover {
  color: var(--blue);
}
/* Homepage */

.main-section {
  width: 880px;
  height: 80vh;
  display: flex;
  align-items: center;
}

.main-div {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.left-div {
  flex: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.right-div {
  flex: 1;
  position: relative;
  height: 330px;
}

.left-div-content {
  display: flex;
  flex-direction: column;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -23px;
  right: 0px;
  font-size: 18px;
}

/* .btn {
  width: 220px;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  transition-timing-function: ease-out;
  transition: 0.5s;
} */

.btn:focus {
  outline: 0;
}

.btn-primary {
  margin-top: 20px;
  display: inline-block;
  width: 180px;
  padding: 6px 0px 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: #00b3c4;
  font-family: "Futura LT W01 Bold";
  font-size: 20px;
  transition: 0.4s;
  text-align: center;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.btn-secondary {
  background-color: var(--orange);
  font-size: 20px;
}

.btn-secondary:hover {
  background-color: var(--blue);
}

/* Register page */

.login-buttons {
  width: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h1-top-nav {
  font-size: 40px;
  letter-spacing: 1px;
}

.main-section-2 {
  width: 880px;
  margin-top: 60px;
}

.login-section {
  width: 500px;
}

.heading {
  font-size: 45px;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-headings {
  margin: 0 0 10px 0;
}

.main-div-2 {
  width: 100%;
}

.form .form-group {
  margin: 20px 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: "Helvetica Light";
  font-size: 22px;
}

.input-half {
  /* width: 300px; */
  margin-right: 40px;
  flex: 1;
}

.input-half-right {
  flex: 1;
}

.input-regular {
  width: 100%;
}

::placeholder {
  color: black;
  font-family: "Futura LT W01 Medium";
  font-size: 22px;
  opacity: 0.8;
}

:focus {
  outline: 0;
}

@media (max-width: 920px) {
  .main-section-2 {
    padding: 20px;
    background-color: red;
  }
  .form-group {
    flex-direction: column;
  }
  .input-half {
    /* width: 300px; */
    margin-right: 0px;
    flex: 1;
  }
  .input-half {
    margin-bottom: 30px;
    flex: 1;
  }
}

/* Profile setup */

.main-section-3 {
  /* background-color: white; */
  width: 880px;
  margin-top: 200px;
  margin-bottom: 50px;
  border-radius: 15px;
}

select {
  width: 268px;
  padding: 10px;
  font-size: 16px;
  /* line-height: 1; */
  border: 0;
  border-radius: 5px;
  height: 50px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 380px;
}

.drop-down {
  background-color: var(--orange);
  padding-right: 10px;
}

.form .form-profile {
  margin: 20px 0px 0px 0px;
}

.new-profile-div {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.left-profile {
  flex: 1;
}

.right-profile {
  flex: 1;
  padding: 0 0px 30px 50px;
}

.right-profile-top {
  display: flex;
  flex-direction: row;
}

.top-profile-mockup {
  flex: 1;
}
.top-right-profile-mockup {
  margin-left: 30px;
  flex: 1;
}

.btn-create {
  margin-top: 40px;
}

.btn-no-margin {
  margin-top: 0px;
}

.btn-centre-div {
  width: 400px;
  text-align: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-profile {
  height: 200px;
  width: 200px;
  border: 2px solid white;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Futura LT W01 Bold";
  opacity: 0.2;
}

.position-profile {
  height: 30px;
  /* width: 190px; */
  border: 2px solid white;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Futura LT W01 Bold";
  opacity: 0.2;
}

.about-profile {
  height: 80px;
  /* width: 100%; */
  border: 2px solid white;
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Futura LT W01 Bold";
  opacity: 0.2;
}

.skills {
  margin-top: 20px;
  height: 30px;
}

.form-complete {
  border: 2px solid var(--blue);
  opacity: 1;
  color: var(--blue);
}

@media (min-width: 920px) {
  .btn-hide-mob {
    display: none;
  }
}

@media (max-width: 920px) {
  .new-profile-div {
    flex-direction: column;
  }
  .btn-hide {
    display: none;
  }
  .main-section-3 {
    padding: 20px;
    /* background-color: red; */
  }
  .right-profile {
    margin-top: 30px;
    padding: 0;
  }
}

/* Profile Page */

.main-section-4 {
  width: 880px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.profile-div {
  display: flex;
  flex-direction: row;
}

.left-profile-div {
  flex: 1;
}

.right-profile-div {
  flex: 3;
}

.profile-image-div {
  position: relative;
}

.btn-a {
  font-size: 22px;
  font-family: var(--helveticaMedium);
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.btn-a-small {
  font-size: 16px;
  font-family: var(--helveticaMedium);
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.btn-a-back {
  font-size: 16px;
  font-family: var(--helveticaMedium);
  color: white;
  margin-left: 20px;
  /* text-decoration: underline; */
  cursor: pointer;
}

.btn-a-small:hover,
.btn-a:hover {
  color: white;
}

.profile-pic-input {
  position: absolute;
  margin-left: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 222px;
  height: 222px;
  opacity: 1;
  transition: 0.5s ease;
  /* background-color: #008cba; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  font-family: var(--futuraBold);
  content: "Upload profile image";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  /* border: 1px solid #999; */
  border-radius: 300px;
  margin-top: 3px;
  /* padding: 5px 10px; */
  width: 222px;
  height: 224px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  opacity: 0;
  /* text-shadow: 1px 1px #fff; */
  font-weight: 700;
  font-size: 12pt;
  color: white;
  transition: 0.4s;
}

.custom-file-input:hover::before {
  border-color: black;
  opacity: 0.9;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.profile-image {
  display: block;
  flex: 1;
  border: solid 2px;
  border-radius: 600px;
  width: 222px;
  height: 222px;
}

.profile-name {
  margin-top: 10px;
  font-family: var(--futuraBold);
  color: white;
  font-size: 24px;
}

.profile-location {
  font-family: var(--futuraMedium);
  color: var(--blue);
  font-size: 24px;
  letter-spacing: 1.2px;
}

.profile-profession {
  margin-top: 20px;
  font-family: var(--helveticaMedium);
  color: var(--greenL);
  font-size: 18px;
}

.profile-left-info {
  flex: 1;

  padding: 20px;
}

.btn-website {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
  /* padding: 5px 0px 5px 0px; */
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: #00b3c4;
  font-family: "Futura LT W01 Bold";
  font-size: 18px;
  transition: 0.4s;
  text-align: center;
}

.btn-website:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.btn-CV {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  /* padding: 5px 0px 5px 0px; */
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background-color: var(--orange);
  font-family: "Futura LT W01 Bold";
  font-size: 18px;
  transition: 0.4s;
  text-align: center;
}

.btn-CV:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.btn-save-image {
  margin: 20px;
  width: 180px;
  margin-bottom: 0px;
}

.repo {
  margin-bottom: 25px;

  width: 150px;
}

.profile-right-info {
  padding: 0px 0px 0px 50px;
}

.profile-sub {
  margin-top: 50px;
  font-size: 18px;
  font-family: var(--futuraBold);
  color: var(--orange);
  margin-bottom: 10px;
}

.profile-copy {
  font-family: var(--helveticaLight);
  letter-spacing: 1.1px;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.experience-company {
  font-family: var(--futuraBold);
  color: white;
  font-size: 20px;
}

.experience-time {
  font-family: var(--helveticaLight);
  color: white;
  margin-bottom: 12px;
  opacity: 0.7;
}

.experience-title {
  margin-top: 5px;
  font-family: var(--futuraBold);
  color: white;
  font-size: 20px;
}

.repo-copy {
  margin-bottom: 10px;
}

.cropDiv {
  z-index: 2;
  position: fixed;
  /* display: flex; */
  /* overflow: none; */
  /* margin-left: -180px; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crop-image-area {
  padding: 25px 30px 30px 30px;
  background-color: var(--blue);
  border-radius: 5px;
  width: auto;
  max-width: 450px;
  text-align: right;
}

.crop-centre {
  text-align: center;
}

.crop-cancel-btn {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 920px) {
  /* .main-section-4 {
    flex-direction: column;
  } */
  .profile-div {
    /* background-color: var(--blue); */
    flex-direction: column;
    padding: 20px;
  }
  .left-profile-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  .profile-image {
    height: auto;
    width: 200px;
  }
  .btn-website {
    width: 130px;
  }
  .btn-CV {
    width: 130px;
  }
  .btn-hide {
    display: none;
  }
  .profile-right-info {
    padding: 0;
  }
  .main-section-3 {
    padding: 20px;
    /* background-color: red; */
  }
  .right-profile {
    margin-top: 30px;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .left-profile-div {
    flex-direction: column;
  }

  .profile-left-info {
    padding: 0px;
  }

  .main-section-4 {
    margin-top: 125px;
  }
}

/* Dashboard */

.dashboard {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.dashboard-left {
  flex: 4;
}

.dash-profile-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-right {
  flex: 1;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.dashboard-card {
  /* background-color: white; */
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.news-top {
  color: var(--blue);
  font-family: var(--futuraBold);
  margin-bottom: 10px;
  margin-left: 20px;
}

.news-top-from {
  color: var(--blue);
  font-family: var(--futuraBold);
  margin-bottom: 10px;
}

.card-title {
  color: white;
  font-family: var(--futuraBold);
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 10px;
}

.card-line {
  margin: 10px 0;
}

.dash-name {
  font-family: var(--futuraBold);
  font-size: 22px;
  color: var(--orange);
}

.dash-description {
  color: white;
  letter-spacing: 1px;
}

.dash-link {
  font-family: var(--futuraMedium);
  font-size: 18px;
  color: white;
}

a,
u {
  text-decoration: none;
}

p {
  font-family: var(--helveticaMedium);
}

.btn-hidden-large {
  display: none;
}

.card-title-link {
  text-decoration: none;
}

.card-title-link:hover {
  text-decoration: underline;
  color: white;
}

.btn-edit-profile {
  font-family: var(--helveticaMedium);
  color: var(--blue);
  font-size: 20px;
}

.btn-edit-profile:hover {
  text-decoration: underline;
  color: var(--blue);
}

.cropAddExp {
  z-index: 2;
  position: fixed;
  /* display: flex; */
  /* overflow: none; */
  /* padding-top: 180px; */
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exp-top-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exp-del {
  color: var(--orange);
  font-size: 20px;
  opacity: 0.6;
}

.exp-del:hover {
  opacity: 1;
  cursor: pointer;
}

.btn-no-back {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.exp-hide {
  color: white;
  font-size: 20px;
  opacity: 1;
}

.exp-top {
  width: 100%;
  text-align: right;
}

.title-centre {
  text-align: center;
}

.exp-hide:hover {
  opacity: 1;
  cursor: pointer;
}
@media (max-width: 920px) {
  .cropAddExp {
    /* height: 2000px; */
    /* padding-top: 200px; */
    /* padding-bottom: -200px; */
    overflow-y: scroll;
  }
}

@media (max-width: 500px) {
  .exp-form {
    padding-top: 200px;
    padding-bottom: -200px;
    overflow-y: scroll;
    /* margin-bottom: 50px; */
    /* height: 100%; */
  }
  .dashboard {
    flex-direction: column;
  }
  .dashboard-right {
    order: -1;
    margin-bottom: 20px;
  }
  .dash-link {
    display: none;
  }
  .btn-hidden-large {
    margin-top: 10px;
    margin-bottom: 20px;

    display: block;
  }
}

/* PROFILES */

.profiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
}

.left-profiles {
  flex: 1;
}

.right-profiles {
  flex: 3;
  padding-left: 50px;
}

.profile-copy-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profiles-name {
  font-size: 32px;
  color: var(--orange);
}

.profiles-status {
  font-size: 16px;
}

.opacity {
  opacity: 0.7;
  margin-bottom: 20px;
}

.profiles-copy {
  font-family: var(--helveticaLight);
  letter-spacing: 1.1px;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}

.profiles-link:hover {
  text-decoration: underline;
}

.profile-images {
  display: block;
  flex: 1;
  border-radius: 600px;
  width: 222px;
  height: 222px;
}
